@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source inline("group-hover:text-pink-500");
@source inline("group-hover:text-red-500");
@source inline("group-hover:text-blue-600");
@source inline("group-hover:text-blue-400");


@theme {
	--font-sans: 'Urbanist', 'sans-serif';
	--color-primary: #00B77A;
	--color-secondary: #1B1B1B;
	--color-background: #EFEFEF;
	--animate-spin: spin 4s linear infinite;

	--spacing-8xl: 80rem;
	--spacing-9xl: 88rem;
	--spacing-10xl: 96rem;
	--spacing-11xl: 104rem;
	--spacing-12xl: 112rem;

	--animate-bounce: bounce 2s ease-in-out infinite;

	@keyframes bounce {
		0%,
		100% {
			transform: translateY(-15%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: none;
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}
}

@utility hard-shadow-sm {
    --tw-shadow: 2px 2px 0px var(--tw-shadow-color, #000000);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	transform: translate(-0.10rem, -0.10rem);
	border-color: var(--tw-shadow-color, #000000);
}

@utility hard-shadow-md {
    --tw-shadow: 3px 3px 0px var(--tw-shadow-color, #000000);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	transform: translate(-0.15rem, -0.15rem);
	border-color: var(--tw-shadow-color, #000000);
}

@utility hard-shadow-base {
    --tw-shadow: 4px 4px 0px var(--tw-shadow-color, #000000);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	transform: translate(-0.25rem, -0.25rem);
	border-color: var(--tw-shadow-color, #000000);
}

@utility hard-shadow-lg {
    --tw-shadow: 6px 6px 0px var(--tw-shadow-color, #000000);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	transform: translate(-0.375rem, -0.375rem);
	border-color: var(--tw-shadow-color, #000000);
}

@utility hard-shadow-xl {
    --tw-shadow: 8px 8px 0px var(--tw-shadow-color, #000000);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	transform: translate(-0.5rem, -0.5rem);
	border-color: var(--tw-shadow-color, #000000);
}